<div class="row">
    <form>
        <div class="form-group">
            <label for="orderDetails">Order Details</label>
            <input required ng-model="order.orderDetails" type="text" class="form-control" id="orderDetails" placeholder="Enter Order Details">
        </div>
        <div class="checkbox">
            <label>
                <input ng-model="order.isActive" type="checkbox"> Is Active
            </label>
        </div>
        <button type="submit" ng-click="saveOrder()" class="btn btn-primary">Save</button>
    </form>
</div>

